canvas {
    border:1px solid #000;
	margin-left: 11%;
}

h2{
	margin-left: 40%;
	margin-bottom: -.1%;
	margin-top: -.1%;
}


html, body {
    /*margin-bottom: 100%;*/
	width: 100%;
	height: 100%;
	margin: 0px;
	display:inline;
	overflow: hidden; /*  Disable scrollbars */
	display: block;  /* No floating content on sides */
}

#up{
	
	position: fixed;
	left: 84%;
	top: 15%;
	width: 10%;
	height: 10%;
	display:none;
	
}

#left{
	
	position: fixed;
	left: 79%;
	top: 33%;
	width: 10%;
	height: 10%;
	display:none;
	
}

#right{
	
	position: fixed;
	left: 89.5%;
	top: 33%;
	width: 10%;
	height: 10%;
	display:none;
	
}

#down{
	
	position: fixed;
	left: 84%;
	top: 50%;
	width: 10%;
	height: 10%;
	display:none;
	
}

#shootWrap{
	
	position: fixed;
	right: 89%;
	top: 33%;
	width: 11%;
	height: 10%;
	display:none;
	
}

#rest{
	
	width: 10%;
	
}

#pDiv{
	
	margin-top: -19%;
	width: 50%;
	margin-left: 20%;
}

#rotWar{
	
	color: darkred;
	text-align: center;
}
